/*Studio*/
.body { 
    font-family:Raleway, Roboto,sans-serif;
    background-color: var(--white); }
:root {
       --white:#FFFFFF;
       --navy-blue:#2E2F42;
       --cloud: #F4F4FD;
       --iris:#404BBF;
      --salte: #434455;
      --black: #000000;
      --cornflwoer:#E7E9FC;
      --ocean: #404BBF;
}
.section {
    padding-top: 94px;
    padding-bottom: 94px;   
}
 .container {
            max-width: 1200px;
            margin: 0 auto;
        }

.section-header{
    margin: 0 auto;
}
.content-header{
    width: 1440px;
    margin: 0 auto;
    background-color:var(--white);
    border: 0px, 0px, 1px, 0px;
    border-bottom: 1px solid var(--cornflwoer);
}
.section-top-line { 
    width:1440px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    height: 72px ;
    border: 0px, 0px, 1px, 0px;
    border: solid,  #E7E9FC;    
}

.logo {  
    display:flex; 
    
}

.web {
    font-family: Raleway;
        font-size: 18px;
        font-weight: 800;
        line-height: 21px;
        letter-spacing: 0.03em;
        text-align: left;
        cursor: pointer;
        text-decoration: none;
        color:var(--iris);
       
    }
     

.studio {
    font-family: Raleway;
        font-size: 18px;
        font-weight: 800;
        line-height: 21px;
        letter-spacing: 0.03em;
        text-align: left;
        cursor: pointer;
        text-decoration: none;
        color: var(--navy-blue);
}
.logo:hover,
:focus {
         background-color: var(--iris);
}

.nav-list {  
    list-style-type: none;
    list-style: Body Medium;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.02em;
    text-align: left;
    list-style-type: none;
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    gap:40px;
    
}
.nav-list .link {
    cursor: pointer;
    text-decoration: none;
    color:var(--navy-blue);
}

.nav-list .link:hover, :focus, :visited {
    background-color: var(--iris);
}

.contacts-section {
    display: flex;
    flex-direction: row;
    justify-content:flex-end;
    align-content:center;
    padding-left: 332px;
    gap:40px;  
  }
.contacts-email {
    
    padding-top: 24px;
    padding-bottom: 24px;
    list-style: Body;
        font-family: Roboto;
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0.02em;
        text-align: left;
        text-decoration: none;
        color:var(--salte);
}  
.contacts-email:hover, :focus {
    color: var(--iris);
}
.contacts-phone {
padding-top:24px;
padding-bottom: 24px;
styleName: Body;
        font-family: Roboto;
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0.02em;
        text-align: left;
        text-decoration: none;
        color: var(--salte);
} 
.contacts-phone:hover, :focus {
    color:var(--iris);
}
.hero-section-beckground { 
    width: 1440px;
    height: 600px;
    background-color:var(--black);  
    margin: 0 auto;
    
}
.efective-solution {
padding-top: 188px;
    height: 120px; 
    border: Header 1;
    font-family: Roboto;
    font-size: 56px;
    font-weight: 700;
    line-height: 60px;
    letter-spacing: 0.02em;
    text-align: center;
    color:var(--white);
  
}
.buton-order {  
margin-left: 636px;
width:  169px;
height:  56px;
background-color:var(--iris);  
padding: 16px, 32px, 16px, 32px;
border-radius: 4px ;
gap: 10px;
box-shadow: 0px 4px 4px 0px #00000026;
display: block;
}

.one-section{
    display: block;
    box-sizing: border-box;
    padding-left: 150px;
    padding-right:150px ;
}
.one-section-list {
     list-style-type: none;
     display: flex;
     justify-content: center;
     align-content: center;   
     gap:24px; 
     text-align: left;
}

.one-section-list .h4 { 
    styleName: Header 3;
    font-family: Roboto;
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.02em;
    text-align: left;
    color: var(--navy-blue);
}
 .one-section .p {
    styleName: Body;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: var(--salte);
}
.two-section .container { 
     background:var(--navy-blue);
     height: 412px; 
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-content: center;
     padding-left:  156px;
 }

.two-section-top { 
    styleName: Header 2;
        font-family: Roboto;
        font-size: 36px;
        font-weight: 700;
        line-height: 40px;
        letter-spacing: 0.02em;
       text-align: center;
}
.two-section-list {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content:  center;
    align-content: center;
    list-style-type: none;
}
.our-team  {
background-color: var(--cloud);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

.our-team-name {
    styleName: Header 2;
        font-family: Roboto;
        font-size: 36px;
        font-weight: 700;
        letter-spacing: 0.02em;
        text-align: center;
}

.our-team-list  { 
      list-style-type: none; 
      display: flex;
      justify-content: center;
      align-content: center;
      gap: 24px;  
      padding-left: 156px;
      padding-right: 156px;
}
.our-team-list .h4{
    styleName: Header 3;
    font-family: Roboto;
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.02em;
    text-align: center;
    color: var(--navy-blue);
   }
.our-team-list .p {
    styleName: Body;
        font-family: Roboto;
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0.02em;
        text-align: center;
        color: var(--salte);
}

.footer-background  {
     width: 1440px;
     display: block;
    box-sizing: border-box;
    margin: 0 auto;
    background-color: var(--navy-blue);  
    height: 312px;
}

.logofooter{
    padding-top: 100px;
    padding-left: 156px;
}
.studiologo {
    font-family: Raleway;
        font-size: 18px;
        font-weight: 800;
        line-height: 21px;
        letter-spacing: 0.03em;
        text-align: left;
        text-decoration: none;
        color:var(--cloud);
}
.studiologo:hover,:focus {
    color:var(--iris);
}
.text-footer {
        padding-top: 8px;
        padding-left: 156px;
        font-family: Roboto;
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0.02em;
        text-align: left;
        color:var(--cloud);
}
.text-footer:hover {
    color: var(--iris);
}

/*portofoliu*/

.filtres {
    width:586px;
    display: flex;
    flex-direction:row ;
    justify-content: center;
    align-content: center;
    padding-left: 427px;
    gap:24px;     
} 

.buton-one {
    width:69px ;
    height:48px;
    background: var(--ocean);
     padding: 12px, 24px, 12px, 24px;
     border-radius: 4px;

}

.buton-web-site {       
    width: 116px;
    height: 48px ;
    background-color: var(--cloud);
    padding: 12px,24px, 12px, 24px;
     border-radius: 4px ;
     border: 1px ;
    border-color: var(--cornflwoer);
}


.buton-design {
    width: 101px ;
    height: 48px;
    background-color: var(--cloud);
    padding: 12px, 24px, 12px, 24px ;
    border-radius: 4px;
    border: 1px;
    border-color:var(--cornflwoer);
}
   
.buton-marketing{
    width: 126px;
    height: 48px;
    background-color: var(--cloud);
    padding: 12px, 24px, 12px, 24px;
    border-radius: 4px;
    border: 1px;
    border-color: var(--cornflwoer); 
}

.filtres-buton {
    styleName: Button Text;
        font-family: Roboto;
        font-size: 16px;
        font-weight: 500;
        line-height: 24px;
        letter-spacing: 0.04em;
        text-align: center;
        color: var(--iris);      
}

.filtres-buton-active {  
     styleName: Button Text;
        font-family: Roboto;
        font-size: 16px;
        font-weight: 500;
        line-height: 24px;
        letter-spacing: 0.04em;
        text-align: center;
        color: var(--white);
        } 

.filtres-buton:hover {
    color: var(--white);
    cursor: grabbing;
}
.filtres-buton-active:hover {
    color: var(--iris);
    cursor: grabbing;
}
.finger {
    width: 16px;
     height: 16px ;
     top: 213px; 
     left: 482px;
     padding: 0px, 1.33px, 0px, 1.33px;
}
.projects-row-one-list,
.projects-row-two-list, 
.projects-row-three-list {
    list-style-type: none;
    text-align: left;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    padding-bottom: 48px;
    gap:24px;
    background: var(--white);
    border: 1px solid var(--cornflwoer);
}

.cards-portofolio .h4 {
 width: 290px;
styleName: Header 3;
    font-family: Roboto;
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: var(--navy-blue); 
}
.cards-portofolio .p {
styleName: Body;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.02em;
    text-align: left;
    color: var(--salte);
}
