/*Studio*/
.body { 
    font-family:Raleway, Roboto,sans-serif;
    background-color: var(--white); 
}
:root {
       --white:#FFFFFF;
       --navy-blue:#2E2F42;
       --cloud: #F4F4FD;
       --iris:#404BBF;
      --salte: #434455;
      --black: #000000;
      --cornflwoer:#E7E9FC;
}
.section {
    padding-top: 94px;
    padding-bottom: 94px;   
}
 .container {
            max-width: 1200px;
            margin: 0 auto;
        }
.main-page {
    font-family:Raleway;
        font-size: 18px;
        font-weight: 800;
        line-height: 21px;
        letter-spacing: 0.03em;
        text-align: left;
        color: var(--iris);
        margin: 0 auto;
}

.section-header{
    margin: 0 auto;
}
.content-header{
    width: 1440px;
    margin: 0 auto;
background-color:var(--white);
 border: 0px, 0px, 1px, 0px;
border-bottom: 1px solid var(--cornflwoer);
}
.section-top-line { 
    width:1440px;
    margin: 0 auto;
    display: flex;
        flex-direction: row;
        justify-content: center;
        align-content: center;
        height: 72px ;
        border: 0px, 0px, 1px, 0px;
        border: solid,  #E7E9FC;    
}

.logo {  
    display:flex;
    }

.web {
    font-family: Raleway;
        font-size: 18px;
        font-weight: 800;
        line-height: 21px;
        letter-spacing: 0.03em;
        text-align: left;
      color:var(--iris);
}
.studio {
    font-family: Raleway;
        font-size: 18px;
        font-weight: 800;
        line-height: 21px;
        letter-spacing: 0.03em;
        text-align: left;
        color: var(--navy-blue);
}
.logo:hover,
:focus {
    background-color: var(--salte);
}

.nav-list {  
    list-style-type: none;
    list-style: Body Medium;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.02em;
    text-align: left;
    list-style-type: none;
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    gap:40px;
    color:var(--navy-blue);
}



.nav-list .buton-contacts:hover {
    background-color: var(--navy-blue);
}

.nav-list .buton-contacts:hover {
    background-color:var(--iris);
}
.contacts-section {
    display: flex;
    flex-direction: row;
    justify-content:flex-end;
    align-content:center;
    padding-left: 332px;
    gap:40px;  
  }
.contacts-email {
    
    padding-top: 24px;
    padding-bottom: 24px;
    list-style: Body;
        font-family: Roboto;
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0.02em;
        text-align: left;
        color:var(--iris);
}  
.contacts-email:hover, :focus {
    color: var(--salte);
}
.contacts-phone {
padding-top:24px;
padding-bottom: 24px;
    styleName: Body;
        font-family: Roboto;
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0.02em;
        text-align: left;
         color:var(--iris)
} 
.contacts-phone:hover, :focus {
    color:var(--salte);
}
.hero-section-beckground { 
    width: 1440px;
    height: 600px;
    background-color:var(--black);  
    margin: 0 auto;
    
}
.efective-solution {
padding-top: 188px;
    height: 120px; 
    border: Header 1;
    font-family: Roboto;
    font-size: 56px;
    font-weight: 700;
    line-height: 60px;
    letter-spacing: 0.02em;
    text-align: center;
    color:var(--white);
  
}
.buton-order {  
margin-left: 636px;
width:  169px;
height:  56px;
background-color:var(--iris);  
padding: 16px, 32px, 16px, 32px;
border-radius: 4px ;
gap: 10px;
box-shadow: 0px 4px 4px 0px #00000026;
display: block;
}

.one-section-list {  
     list-style-type: none;
     display: flex;
     justify-content: center;
     align-content: center;   
     gap:24px; 
     text-align: left;
}
 .h4 .one-section-list {
styleName: Header 3;
    font-family: Roboto;
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.02em;
    text-align: left;
    color: var(--navy-blue);
}
 .one-section-content {
styleName: Body;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: var(--salte);
}
.two-section .container { 
 background:var(--navy-blue);
  height: 412px; 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  padding-left:  156px;
 }
.two-section-top { 
    styleName: Header 2;
        font-family: Roboto;
        font-size: 36px;
        font-weight: 700;
        line-height: 40px;
        letter-spacing: 0.02em;
       text-align: center;
}
.two-section-list {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content:  center;
    align-content: center;
    list-style-type: none;
}
.our-team  {
background-color: var(--cloud);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
  
}
.our-team-name {
    styleName: Header 2;
        font-family: Roboto;
        font-size: 36px;
        font-weight: 700;
        letter-spacing: 0.02em;
        text-align: center;
}
.our-team-list  { 
list-style-type: none; 
display: flex;
justify-content: center;
align-content: center;
gap: 24px;  
padding-left: 156px;
padding-right: 156px;
}
.our-team-list .team-card {
    font-family: Roboto;
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: var(--navy-blue);
   }
.our-team-list .card-content {
    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.02em;
    color:var(--salte);
}
.footer-background  {
     width: 1440px;
     display: block;
    box-sizing: border-box;
    margin: 0 auto;
    background-color: var(--navy-blue);  
    height: 312px;
}
.logofooter{
    padding-top: 100px;
    padding-left: 156px;
}
.studiologo {
    font-family: Raleway;
        font-size: 18px;
        font-weight: 800;
        line-height: 21px;
        letter-spacing: 0.03em;
        text-align: left;

}
.logofooter .studiologo {
color:var(--cloud);
}
.logofooter .studiologo:hover,:focus{
    color:var(--iris);
}
.text-footer {
        padding-top: 8px;
        padding-left: 156px;
        font-family: Roboto;
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        letter-spacing: 0.02em;
        text-align: left;
        color:var(--cloud);
}

.text-footer:hover {
    color: var(--iris);
}

/*portofoliu*/
.filtres {
    width: 586px;
    height: 48px;
    display: flex;
    justify-content: center;
    align-content: center;
     padding-top: 96px;
     padding-bottom: 72px;
     gap:24px;
}
.buton-filtres {
background-color: var(--iris);
}
.active-buton
{
background-color: var(--iris);
}
.active-buton:active {
    background: var(--white);
}
.active-buton:hover, :focus {
    background: var(--white);
}

.finger {
    width: 16px;
     height: 16px ;
     top: 213px; 
     left: 482px;
     padding: 0px, 1.33px, 0px, 1.33px;
}
.projects-row-one-list,
.projects-row-two-list, 
.projects-row-three-list {

    list-style-type: none;
    text-align: left;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    padding-bottom: 48px;
    gap:24px;
    background: var(--white);
}
 .cards-image {
    height: 300px;
 }
.cards-portofolio .h4 {
 width: 290px;
styleName: Header 3;
    font-family: Roboto;
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: var(--salte); 
}
   .cards-portofolio .p {
styleName: Body;
    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.02em;
    text-align: left;
}
.cards-portofolio {  
border: 1px solid var(--cornflwoer);
}
